@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 0.9em;
  font-family: 'Mallanna','Roboto', sans-serif;
  background: #e8e9e9;
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
  color: #555;
}

.main {
  width: 50%;
}

.card-container {
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  margin: 45px auto;
  -webkit-box-shadow: 0 1.5px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1.5px 0 0 rgba(0, 0, 0, 0.1);
}

.card-element {
  color: #777;
  padding: 10px;
  margin: 5px;
  border-radius: 3px;
}

.card-action {
  border-top: 1px solid #eee;
}
