.card-container
   display: flex
   flex-wrap: wrap
.card-image
   width: 100%
   height: 160px
   overflow: hidden
.card-image
   img
      padding-right: 100px;
      width: 190%
      min-width: 200px
.card-row
   width: 18%
   // min-width: 120px
   margin:
      top: 10px
      bottom: 10px
      right: 1%
      left: 1%
   flex-wrap: wrap
   box-shadow: 0px 0px 10px 0px #c7c7c7

@media screen and (max-width: 480px)
  .card-row
    width: 100%;

@mixin media($max-width, $min-width)
   @media screen and (max-width: $max-width + px) and (min-width: $min-width + px)
      .card-row
        @if $max-width <= 640 and $min-width >= 480
          width: 95%
        @else if $max-width <= 960 and $min-width >= 640
   .card-image
        @else if $max-width <= 1280 and $min-width >= 960
          width: 31%
        @else if $max-width <= 1600 and $min-width >= 1280
          width: 23%
        @else if $max-width <= 1920 and $min-width >= 1600
          width: 18%
        @else
          width: 100%

$max: 640
$min: 480

@for $i from 1 through 9
   @include media($max, $min)
   $max: $max + 160
   $min: $min + 160
